.contenedor-con-fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.imagenfondo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor-izquiero2 {
    float: left; /* Alinea el contenedor a la izquierda */
    width: 50%; /* Puedes ajustar el ancho según tus necesidades */
    height: 100vh;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    /* Estilos para el contenedor derecho */
    margin-top: 4%;
}

.contenedor-derecho2 {
    float: right; /* Alinea el contenedor a la derecha */
    width: 50%; /* Puedes ajustar el ancho según tus necesidades */
    height: 100vh;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    /* Estilos para el contenedor derecho */
    margin-top: 4%;
}

.cardback-izquierdo{
    
    width: 70%;
    height: 50%;
    border: solid 5px rgba(250, 248, 248, 0.139);
    border-radius: 20px;
    margin-bottom: 10px;
    /* text-align: center; */
    background-color: rgba(8, 4, 0, 0.848);
    box-shadow: 5px 5px 5px black;
    transition: 0.3s ease;
    color: white;
}

.card-estadistica2{
    width: 70%;
    height: 50%;
    border: solid 5px rgba(250, 248, 248, 0.139);
    border-radius: 20px;
    margin-bottom: 10px;
    /* text-align: center; */
    background-color: rgba(8, 4, 0, 0.848);
    box-shadow: 5px 5px 5px black;
    transition: 0.3s ease;
    color: white;
}

.separacion{
    margin: 50px;
    display: grid;
    gap: 0.1em;
}

.column1{
    margin: 50px;
    display: grid;
    gap: 0.5em;
}

.skills{
    padding: 1em 0;
}

.skills__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills__bar111
/* .skills__bar::after */{
    width: 75px;
    height: 8px;
    background-color: #081bf5;
    border-radius: var(--border-radius);
    border-radius: 30px;
}

.skills__bar::after{
    content: '';
    position: absolute;
    left: -175px;
    background-color: var(--primary-color);
    transition: var(--transition);
}

:root{
    --skills-bar-length:0%
}

.skills__bar--70::after{
    --skill-bar-length:70%
}

@keyframes skills-bar-fill{
    ti{
        transform: translateX(var(--skills-bar-length));
    }
}

.skills__bar11
/* .skills__bar::after */{
    width: 100px;
    height: 8px;
    background-color: #081bf5;
    border-radius: var(--border-radius);
    border-radius: 30px;
}

.skills__bar22
/* .skills__bar::after */{
    width: 55px;
    height: 8px;
    background-color: #081bf5;
    border-radius: var(--border-radius);
    border-radius: 30px;
}

.card-estadistica2:hover {
    transform: translateX(-70px);
}

.cardback-izquierdo:hover {
    transform: translateX(70px);
}

.padre3{
    background-color: #333333da;
    color: #fff;
    padding: 1px 0;
}

.back{
    margin-left: 25px;
}