.contenedor-con-fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.imagenfondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navlink-create {
    /* Estilos para el NavLink */
    text-decoration: none;
    /* Elimina el subrayado predeterminado */
    color: white;
    /* Cambia el color del texto */
}

.navlink-create button {
    /* Estilos para el botón dentro del NavLink */
    background-color: rgba(0, 0, 0, 0.476);
    color: black;
    border: solid 2px rgba(250, 248, 248, 0.139);
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.navlink-create button:hover {
    /* Estilos cuando el cursor está sobre el botón */
    background-color: rgba(250, 248, 248, 0.139);
}