.active{
    color: #efb810;
}
.lol{
    text-decoration: none;
}
nav{
    float: right; 
    /* width: 50%; 
    height: 10px; */
    margin-top: 1%; 
    display: flex;
    align-items: end;
    justify-content: flex-end;
    gap: 20px;
    font-size: large;
    margin-right: 20px;
}

nav a{
    color: white;
}

.logo img {
    max-height: 150px; 
}

/* .contenedor-logo{
    float: left; 
    width: 50%; 
} */